<div class="div-search">
  <div class="simpleBlog">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
          <path stroke-linecap="round" d="M10 19a6 6 0 0 0-7.915-5.688M17 8a6.002 6.002 0 0 0 4.823 5.885m-3.505-9.637a5.95 5.95 0 0 0-.515.752"/>
          <path d="M16 16a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"/>
          <path stroke-linecap="round" d="M13 8.5a2.5 2.5 0 1 0-2.5 2.5"/>
          <path stroke-linecap="round" d="M7 3.338A9.954 9.954 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/>
      </g>
    </svg>
    Simple Blog
  </div>
  <div class="btns-searchBar">
    <div class="container-search ">
      <input class="search-input" type="text" placeholder="Buscar" (focus)="onInputFocus()" (blur)="onInputBlur()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" stroke-width="1.5">
            <circle cx="11.5" cy="11.5" r="9.5"/>
            <path stroke-linecap="round" d="M18.5 18.5L22 22"/>
        </g>
    </svg>
    </div>
    <button class="logout" (click)="logOut()">Log out</button>
  </div>
</div>
